html {
	a { color: #2228E2; }
	@media (prefers-color-scheme: dark) {
		background: #191919;
		color: #f3f3f3;
		a {	color: #3FB9F1; }
		header, footer { border-color: #fff; }
	}
	@media (prefers-reduced-motion) { * { animation: none !important; } }
}
body {
	font-family: Helvetica, Inter, sans-serif;
	font-size: 1.075rem;
	line-height: 1.5;
	max-width: 80ch;
	margin: 0 auto;
	padding: 1em;
}

p > img {
	width: 100%;
}

blockquote {
	border: solid 0.1rem #F90;
	border-radius: 0.5rem;
	margin: unset;
	padding: 0 1rem;
	background: #F901;
	display: block;
}

header {
	h1 {
		font-size: 1em;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	nav > ul {
		display: flex;
		list-style: none;
		text-align: center;
		flex-wrap: wrap;
		padding: 0;
		margin: 0.67em -0.5rem;
		li {
			margin: 0 0.5rem;
		}
	}
	border-bottom: 1px solid #000;
}

#search-modal {
	margin-bottom: 2rem;
}

footer {
	display: flex;
	border-top: 2px solid #000;
	padding-bottom: 2rem;
	justify-content: space-between;
}