html,
body {
	font-family: Helvetica, Inter, sans-serif;
	font-size: 1.075rem;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	a { color: #2228E2; }
	@media (prefers-color-scheme: dark) {
		background: #191919;
		color: #f3f3f3;
		a {	color: #3FB9F1; }
	}
	@media (prefers-reduced-motion) { * { animation: none !important; } }
}

header,
main,
footer {
	margin: 0 auto;
	width: 100%;
	max-width: 80%;
	@media(min-width: 600px) { max-width: 60%; }
	@media(min-width: 1000px) { max-width: 40%; }
}

nav ul {
	display: flex;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: .9rem;
		margin-bottom: .9rem;
		padding: .5rem;
	}
	&:first-child { padding-left: 0; }
	&:last-child { padding-right: 0; }
}

footer {
	display: flex;
	margin: 0 auto 2rem auto;
	justify-content: space-between;
	p:first-child { text-align: left; }
	p:last-child { text-align: right; }
}