<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.title %}
      {% set title=page.title %}
    {% elif section.title %}
      {% set title=section.title %}
    {% else %}
      {% set title=site.title %}
    {% endif %}
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body id="top">
    <header>
      <h1>⚠️ Not done.</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/resources">Resources</a></li>
        </ul>
      </nav>
      <h2>{{title}}</h2>
    </header>
    <main>
      {%block content%}{%endblock%}
    </main>
    <footer>
      <p>
        Kindly&nbsp;provided&nbsp;by&nbsp;the Class&nbsp;of&nbsp;2023.<br/>
        <a href="/contributors">View contributors.</a>
      </p>
      <p>
        Last&nbsp;updated:&nbsp;{% if page.updated %}{{page.updated}}{%else%}never{%endif%}.<br/>
        <a href="#top">Top.</a>
    </footer>
  </body>
  <noscript><img src="https://shy.maatt.ch/ingress/e140128c-5dc4-4312-b264-09958bd26fe5/pixel.gif"></noscript>
  <script defer src="https://shy.maatt.ch/ingress/e140128c-5dc4-4312-b264-09958bd26fe5/script.js"></script>
</html>
