<!doctype html>
<html id="top">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.title %}
      {% set title=page.title %}
    {% elif section.title %}
      {% set title=section.title %}
    {% else %}
      {% set title=site.title %}
    {% endif %}
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <p><strong>⚠️ Not done.</strong></p>
      <h1>Broadcast 3,4 Wiki</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/resources">Resources</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {%block content%}{%endblock%}
    </main>
    <footer>
      <p>
        Kindly&nbsp;provided&nbsp;by&nbsp;the Class&nbsp;of&nbsp;2023.
        <a href="/contributors">View contributors.</a><br/><br/>
        <a href="#top">Top of page.</a>
      </p>
    </footer>
  </body>
  {% block scripts %}{% endblock scripts %}
  <noscript><img src="https://shy.maatt.ch/ingress/e140128c-5dc4-4312-b264-09958bd26fe5/pixel.gif"></noscript>
  <script defer src="https://shy.maatt.ch/ingress/e140128c-5dc4-4312-b264-09958bd26fe5/script.js"></script>
</html>
