{% extends "base.html" %}

{% block content %}
<h1>Search</h1>
<section>
  <section class="modal" id="search-modal">
    <div class="modal-card">
      <section class="modal-card-body">
        <div class="field mb-2">
          <div class="control">
            <input class="input" id="search" placeholder="Search this website." type="search" />
          </div>
        </div>
        <div class="search-results">
          <div class="search-results__items"></div>
        </div>
      </section>
    </div>
  </section>
</section>
{% endblock content %}

{% block scripts %}
<script async src="{{ get_url(path='elasticlunr.min.js') }}"></script>
<script async src="{{ get_url(path='search_index.en.js') }}"></script>
<script async src="{{ get_url(path='search.js') }}"></script>
{% endblock scripts %}